@import 'https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap';
:target {
  scroll-margin-top: 100px;
}
.fancybox__container {
  z-index: 1999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
:root {
  --white-color: #fff;
  --main-color: #ba2649;
  --main30-color: #f5ccd6;
  --light-bg: #fafafa;
  --gray-background: #f4f4f4;
  --black-color: #231f20;
  --text-color: #777777;
  --LightGray: #d9d9d9;
  --star-color: #ffd500;
  --input-bg: #fafafa;
  --input-hint: #aaaaaa;
  --id-confirm: #eef6fc;
  --main-transation: all .5s ease-in-out;
}
.dark-theme {
  transition: var(--main-transation);
  --white-color: #0d0d0d;
  --main-color: #cf2a51;
  --main30-color: #480e1d;
  --gray-background: #171717;
  --black-color: #fff;
  --text-color: #777777;
  --input-bg: #171717;
  --LightGray: #171717;
  --id-confirm: #171717;
  --light-bg: #171717;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--white-color-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  height: 300px;
}
* {
  margin: 0;
  padding: 0;
  direction: rtl;
  line-height: 28px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Kufi Arabic', sans-serif;
}
body {
  background: var(--white-color);
  overflow-x: hidden;
  position: relative;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.fancybox__container {
  z-index: 999999999999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0;
}
// **************************** //
header {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  background: var(--gray-background);
  z-index: 9999;
  .tnavbar {
    height: 80px;
    width: 100%;
    padding: 10px 32px;
    @include space-between();
    .right-wrapper,
    .left-wrapper {
      display: flex;
      gap: 32px;
      .nav-links {
        height: 100%;
        .nav-link {
          height: 60px;
          font-size: 16px;
          font-weight: 600;
          @include centerFlex();
          a {
            color: var(--black-color);
          }
          color: var(--black-color);
        }
      }
    }
    .logo {
      height: 100%;
      @include centerFlex();
      img {
        max-height: 50px;
      }
    }
    .loged-in-minor-menu {
      height: 100%;
      display: flex;
      align-items: center;
      .link {
        width: 50px;
        height: 100%;
        @include centerFlex();
        .cart {
          color: var(--black-color);
        }
        .btn {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          color: var(--black-color);
          padding: 0;
          border: 0 !important;
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
          }
        }
        .dropdown-menu {
          padding: 0 !important;
          background: var(--white-color);
          li {
            a {
              padding: 6px 14px !important;
              display: flex;
              gap: 12px;
              font-size: 14px;
              align-items: center;
              color: var(--black-color);
              i {
                width: 16px;
                @include centerFlex();
                color: var(--main-color);
              }
              &:hover {
                background: var(--gray-background) !important;
              }
            }
          }
          .line {
            width: 100%;
            height: 1px;
            background: var(--LightGray);
          }
          &.show {
            left: 0 !important;
            top: 80px !important;
            transform: translate(0px, 0px) !important;
            border-radius: 0 !important;
            border: 1px solid var(--LightGray);
          }
          .circle-filled {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: var(--main-color);
          }
          .circle-outline {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid var(--main-color);
          }
          .image-wrap {
            min-width: 45px;
            min-height: 45px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text-wrap {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h6 {
              font-size: 14px;
              font-weight: 600;
              color: var(--black-color);
              line-height: 20px;
            }
            .time {
              font-size: 10px;
              color: var(--text-color);
              line-height: 20px;
            }
            h5 {
              font-size: 14px;
              font-weight: bold;
              color: var(--black-color);
              &.me {
                color: var(--main-color);
              }
            }
            p {
              font-size: 12px;
              line-height: 18px;
              color: var(--text-color);
            }
            .message-number {
              width: 16px;
              height: 16px;
              font-size: 12px;
              border-radius: 50%;
              color: #fff;
              background-color: var(--main-color);
              @include centerFlex();
            }
          }
          .showall {
            width: 349px;
            padding: 8px 14px;
            background: var(--LightGray);
            position: absolute;
            bottom: 0;
            a {
              color: var(--black-color);
            }
          }
        }
        .notifimenu {
          width: 350px;
          height: 300px;
          position: relative;
          li a {
            padding: 12px 16px !important;
          }
        }
        .languagemenu.show {
          left: 232px !important;
        }
        .thememenu.show {
          left: 182px !important;
        }
        .notifimenu.show {
          left: 82px !important;
        }
        .searchmenu {
          width: 100vw;
          padding: 16px 32px !important;
          input {
            width: 100%;
            @include clearInput();
            color: var(--black-color);
          }
        }
      }
    }
  }
}
main {
  padding: 40px 0;
  .login-section {
    padding: 32px 0;
    &.forgetpassword {
      padding: 0;
    }
    h1 {
      font-size: 32px;
      color: var(--black-color);
      font-weight: 600;
    }
    .title {
      color: var(--text-color);
    }
    .form {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 28px;
      width: min(100% - 24px, 660px);
      .input-field {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        label {
          color: var(--black-color);
          i {
            color: var(--main-color);
          }
        }
        input {
          color: var(--black-color);
          direction: rtl;
          height: 56px;
          border: none;
          outline: none;
          padding: 10px 16px;
          border-radius: 12px;
          background: var(--input-bg);
        }
      }
      .forgetpass {
        align-self: flex-end;
        color: var(--main-color);
      }
      .noAccount {
        margin-top: 32px;
        color: var(--text-color);
        span {
          color: var(--main-color);
        }
      }
      p {
        color: var(--text-color);
        a {
          color: var(--main-color);
          text-decoration: underline;
        }
      }
      button {
        width: 100%;
        height: 56px;
        border-radius: 12px;
        @include centerFlex();
        @include clearInput();
        color: #fff;
        background: var(--main-color);
      }
      .question {
        padding: 0 0 30px;
        width: 100%;
        @include space-between();
        .quest {
          display: flex;
          align-items: center;
          gap: 8px;
          color: var(--black-color);
        }
        .vendorInput {
          appearance: none;
          position: relative;
          cursor: pointer;
          &::after {
            display: block;
            width: 48px;
            height: 24px;
            border-radius: 12px;
            content: '';
            background-color: var(--text-color);
            transition: var(--main-transation);
          }
          &::before {
            transition: var(--main-transation);
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            right: 4px;
            content: '';
            background-color: var(--white-color);
          }
          &:checked {
            &::after {
              background-color: var(--main-color);
            }
            &::before {
              right: initial;
              left: 4px;
            }
          }
        }
      }
      .image-change-wrapper {
        border-radius: 12px;
        border: 1px solid var(--gray-background);
        @include centerFlex();
        flex-direction: column;
        padding: 16px 0;
        .img-wrap {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid var(--text-color);
          @include centerFlex();
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .upload {
          input {
            display: none;
          }
          .plus {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--main-color);
            @include centerFlex();
            cursor: pointer;
            i {
              font-size: 20px;
              color: #fff;
            }
          }
        }
      }
      .google-login {
        margin-top: 24px;
        @include clearInput();
        width: 100%;
        height: 48px;
        border: 1px solid var(--input-hint);
        color: var(--black-color);
        gap: 16px;
      }
      .line {
        width: 100%;
        height: 1px;
        background: var(--gray-background);
        position: relative;
        margin-top: 24px;
        span {
          @include centerAbsolute();
          background: var(--white-color);
          padding: 0 16px;
          color: var(--black-color);
        }
      }
    }
    .forgetpasswordForm {
      margin-top: 0;
      h1 {
        align-self: flex-start;
        margin-top: 24px;
        font-size: 24px;
      }
      p {
        font-size: 14px;
        align-self: flex-start;
        margin-bottom: 32px;
        span {
          color: var(--main-color);
        }
      }
      gap: 10px;
      .input-field {
        margin-bottom: 12px;
      }
      .otp-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
        direction: ltr !important;
        .otp-input {
          width: 70px;
          height: 70px;
          background: var(--main30-color);
          padding: 10px 28px;
          font-size: 24px;
          font-weight: bold;
          color: var(--main-color);
        }
      }
      .resend-code {
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        a {
          color: var(--main-color);
        }
        .timer span {
          color: var(--text-color);
        }
      }
    }
    .otp-small {
      h1,
      p {
        align-self: center !important;
      }
    }
  }
  .profile-section {
    .profile-descripe {
      box-shadow: 0px 2px 12px 0px #0000001A;
      padding: 16px;
      border-radius: 12px;
      max-height: 508px;
      overflow: hidden;
      .banner {
        width: 100%;
        height: 160px;
        border-radius: 8px;
        background-image: url(../images/bann.jpg);
        background-size: cover;
        background-position: 50% 50%;
        position: relative;
        .user-avatar {
          position: absolute;
          bottom: -60px;
          left: 50%;
          transform: translateX(-50%);
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 6px solid var(--white-color);
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          .status {
            display: block;
            position: absolute;
            bottom: 0;
            left: 8px;
            width: 20px;
            border-radius: 50%;
            height: 20px;
            border: 4px solid var(--white-color);
            background-color: #1bd00b;
          }
        }
      }
      .name-rate {
        margin-top: 75px;
        padding: 0 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        h6 {
          font-size: 22px;
          color: var(--black-color);
          font-weight: bold;
        }
        span {
          color: var(--text-color);
          font-weight: 500;
          i {
            color: var(--main-color);
          }
        }
      }
      .cash {
        width: 100%;
        margin-top: 12px;
        padding: 16px;
        border-radius: 12px;
        background: var(--gray-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        .head {
          @include space-between();
          width: 100%;
          h4 {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--black-color);
            i {
              color: var(--main-color);
            }
          }
          a {
            padding: 0 10px;
            border: 1px solid var(--main-color);
            color: var(--main-color);
            border-radius: 4px;
            transition: .3s ease-in-out;
            &:hover {
              background: var(--main-color);
              color: #fff;
            }
          }
        }
        .row {
          width: 100%;
        }
        .cash-info {
          @include centerFlex();
          flex-direction: column;
          gap: 4px;
          span {
            font-size: 14px;
            color: var(--black-color);
            font-weight: 600;
          }
          h6 {
            color: var(--main-color);
            font-weight: bold;
            font-size: 20px;
            i {
              color: var(--text-color);
            }
          }
        }
      }
    }
    .profile-taps {
      .nav-pills {
        justify-content: space-between;
        padding: 0 24px 24px;
        .nav-link {
          color: var(--text-color);
          font-size: 16px;
          position: relative;
          font-weight: 500;
          padding: 8px 0;
          &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 6px;
            width: 0;
            content: '';
            height: 2px;
            background: var(--main-color);
            transition: var(--main-transation);
            opacity: 0;
          }
          &:hover {
            color: var(--main-color);
            &::after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
      .tab-content {
        padding: 0 24px;
        .statics-list {
          display: flex;
          flex-direction: column;
          gap: 12px;
          li h6 {
            color: var(--black-color);
            font-size: 16px;
            font-weight: 500;
          }
          li span {
            color: var(--main-color);
            font-weight: bold;
            font-size: 18px;
            small {
              color: var(--text-color);
            }
          }
        }
        .verify-list {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding-bottom: 24px;
          li {
            color: var(--black-color);
            i {
              color: #26ba58;
            }
          }
        }
        .unverified-box {
          width: 100%;
          @include centerFlex();
          flex-direction: column;
          gap: 16px;
          h6 {
            color: var(--black-color);
            font-weight: 600;
            font-size: 18px;
          }
          a {
            width: 100%;
            border: 1px solid var(--main-color);
            color: var(--main-color);
            @include centerFlex();
            padding: 16px 0;
            transition: var(--main-transation);
            border-radius: 12px;
            &:hover {
              background: var(--main-color);
              color: #fff;
            }
          }
        }
        .services-contianer {
          .add-service {
            width: 100%;
            border: 1px solid var(--main-color);
            color: var(--main-color);
            @include centerFlex();
            padding: 16px 0;
            transition: var(--main-transation);
            border-radius: 12px;
            i {
              margin: 0 4px;
            }
            &:hover {
              background: var(--main-color);
              color: #fff;
            }
          }
          .service-card {
            border-radius: 4px;
            background-color: var(--gray-background);
            overflow: hidden;
            .img {
              width: 100%;
              img {
                max-width: 100%;
                aspect-ratio: 1 / .65;
              }
            }
            .content {
              padding: 12px;
              h6 {
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 12px;
                color: var(--black-color);
              }
              p {
                font-size: 14px;
                color: var(--text-color);
                a {
                  color: var(--text-color);
                }
              }
              .sell-count {
                font-size: 18px;
                color: var(--black-color);
                font-weight: 600;
                font-style: italic;
              }
              .start-from {
                color: var(--black-color);
                margin-top: 16px;
                b {
                  color: var(--main-color);
                }
              }
            }
          }
        }
      }
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        background: none;
        color: var(--main-color);
        &::after {
          width: 100%;
        }
      }
    }
  }
  .service-details {
    .service-content {
      .swiper {
        max-height: 500px;
        .swiper-slide {
          max-height: 500px;
          background-color: var(--gray-background);
          .img {
            height: 100%;
            width: 100%;
            img,
            video {
              height: 100%;
              width: 100%;
              aspect-ratio: 4/3;
              object-position: center;
              object-fit: cover;
            }
          }
        }
        .swiper-pagination-fraction {
          top: 12px !important;
          left: 12px !important;
          width: 100px !important;
          height: 30px !important;
          direction: ltr !important;
          color: #fff;
          .swiper-pagination-current {
            font-size: 24px;
            font-weight: bold;
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          width: 40px;
          height: 40px;
          background: var(--main-color);
          color: #fff;
          border-radius: 50%;
          &::after {
            font-size: 18px;
          }
          opacity: 0;
          transition: var(--main-transation);
        }
        &:hover {
          .swiper-button-next,
          .swiper-button-prev {
            opacity: 1;
          }
        }
      }
      .content {
        padding: 120px 0 0;
        position: relative;
        .service-owner-card {
          width: 90%;
          border: 4px solid var(--white-color);
          height: 120px;
          background: var(--gray-background);
          position: absolute;
          top: -60px;
          padding: 10px;
          right: 5%;
          border-radius: 120px;
          z-index: 99;
          .owner {
            display: flex;
            align-items: center;
            gap: 16px;
            .img {
              width: 90px;
              height: 90px;
              border-radius: 50%;
              overflow: hidden;
              img {
                max-width: 100%;
              }
            }
            .title {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 5px;
              h6 {
                font-size: 22px;
                color: var(--black-color);
                font-weight: bold;
              }
              span {
                color: var(--text-color);
                font-weight: 500;
                i {
                  color: var(--main-color);
                }
              }
            }
          }
          .btns {
            @include centerFlex();
            gap: 18px;
            padding: 0 16px;
            .butn {
              width: 40px;
              height: 40px;
              border: none;
              outline: none;
              @include centerFlex();
              background: var(--main-color);
              border-radius: 50%;
              color: #fff;
              i {
                font-size: 20px !important;
              }
            }
            .dropdown {
              .dropdown-menu {
                background: var(--white-color);
                border: 1px solid var(--gray-background);
                padding: 32px;
                h5 {
                  margin-bottom: 20px;
                  font-weight: 600;
                  font-size: 16px;
                }
                p {
                  color: var(--text-color);
                  margin-bottom: 16px;
                }
                .link {
                  width: 100%;
                  padding: 14px;
                  background-color: var(--gray-background);
                  display: flex;
                  align-items: center;
                  gap: 12px;
                  border-radius: 12px;
                  button {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    @include centerFlex();
                    @include clearInput();
                    i {
                      color: var(--main-color);
                    }
                    &:hover {
                      background: var(--main-color);
                      i {
                        color: #fff;
                      }
                    }
                  }
                  span {
                    cursor: pointer;
                    color: var(--text-color);
                    font-size: 12px;
                    position: relative;
                    .alert {
                      position: absolute;
                      background: var(--input-bg);
                      padding: 4px 8px;
                      margin: 0;
                      bottom: -42px;
                      left: 50%;
                      transform: translateX(-50%);
                      transition: var(--main-transation);
                      opacity: 0;
                      &::after {
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        width: 16px;
                        height: 10px;
                        background: var(--input-bg);
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -10px;
                      }
                    }
                  }
                }
                .social {
                  display: flex;
                  gap: 20px;
                  li {
                    @include centerFlex();
                    flex-direction: column;
                    gap: 8px;
                    font-size: 14px;
                    a {
                      width: 48px;
                      height: 48px;
                      border-radius: 50%;
                      background: var(--main30-color);
                      @include centerFlex();
                      i {
                        color: var(--main-color);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        h4 {
          font-size: 22px;
          font-weight: 600;
          color: var(--black-color);
        }
        p {
          margin-top: 14px;
          color: var(--text-color);
          a,
          span {
            color: var(--main-color);
          }
        }
        .more-develop {
          padding: 48px 0 0;
          h6 {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 28px;
            color: var(--black-color);
          }
          .input-field {
            gap: 16px;
            margin-bottom: 28px;
            input {
              width: 20px;
              appearance: none;
              position: relative;
              &::after {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                content: '';
                font-family: 'FontAwesome';
                width: 20px;
                height: 20px;
                border: 1px solid var(--input-hint);
                border-radius: 4px;
                font-size: 14px;
                @include centerFlex();
                color: var(--main-color);
              }
              &:checked::after {
                content: '\f00c';
                background: var(--main-color);
                color: #fff;
                border-color: var(--main-color);
              }
            }
            .label {
              label {
                font-size: 18px;
                color: var(--black-color);
                font-weight: 600;
              }
              p {
                margin-top: 0;
              }
            }
          }
        }
        .add-cart {
          width: 100%;
          background: var(--gray-background);
          border-radius: 14px;
          padding: 24px 16px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 24px;
          .input-field {
            display: flex;
            gap: 16px;
            width: 100%;
            button {
              @include clearInput();
              min-width: 40px;
              height: 40px;
              background: var(--main30-color);
              border-radius: 12px;
              @include centerFlex();
              i {
                color: var(--main-color);
              }
            }
            input {
              outline: none;
              text-align: center;
              width: 100%;
              border: 1px solid var(--LightGray);
              background: var(--white-color);
              font-weight: 600;
              color: var(--black-color);
              border-radius: 12px;
              &::-webkit-outer-spin-button {
                appearance: none;
              }
              &::-webkit-inner-spin-button {
                appearance: none;
              }
            }
          }
          .total {
            width: 100%;
            p {
              margin-top: 0;
              color: var(--black-color);
              span {
                color: var(--text-color);
              }
            }
            h6 {
              color: var(--main-color);
              font-weight: bold;
              font-size: 22px;
              i {
                margin: 0 4px;
                color: var(--text-color);
              }
            }
          }
          .request-order {
            height: 50px;
            width: 100%;
            font-size: 16px;
            @include clearInput();
            background: var(--main-color);
            color: #fff;
            border-radius: 12px;
          }
        }
      }
    }
    .service-card {
      width: 100%;
      border-radius: 16px;
      background: var(--input-bg);
      padding: 16px;
      margin-bottom: 24px;
      .label {
        padding: 8px;
        width: 160px;
        border-radius: 12px;
        background: var(--white-color);
        @include centerFlex();
        color: var(--text-color);
        gap: 4px;
      }
      .card-ul {
        margin: 24px 0 0;
        li {
          color: var(--black-color);
          margin-bottom: 16px;
          font-weight: 500;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .rate {
          color: var(--main-color);
          font-weight: 600;
        }
      }
    }
    .rating-cards-container {
      overflow-y: scroll;
      max-height: 620px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.progress {
  height: 8px;
  background-color: var(--gray-background);
}
.progress-bar-striped {
  background-image: none;
}
.progress-bar {
  background: var(--main-color);
}
.dropdown-toggle::after {
  display: none;
}
.rate {
  display: flex;
  gap: 28px;
  ul {
    display: flex;
    align-items: center;
    gap: 8px;
    li {
      margin: 0 !important;
      i {
        font-size: 14px;
        color: var(--LightGray);
      }
      &.star i {
        color: var(--star-color);
      }
    }
  }
}
.rate-card {
  background-color: var(--input-bg);
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 16px;
  .rate-owner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .rate-head {
      display: flex;
      gap: 16px;
      .img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
      .name-time {
        @include centerFlex();
        flex-direction: column;
        h5 {
          font-size: 20px;
          color: var(--black-color);
          font-weight: bold;
          margin-bottom: 4px;
        }
        span {
          font-size: 14px;
          color: var(--text-color);
          font-weight: 500;
        }
      }
    }
    .rate-text {
      font-size: 16px;
      color: var(--black-color);
      font-weight: 500;
    }
  }
  .rating-cards {
    .r-card {
      padding: 12px 8px;
      border-radius: 12px;
      @include centerFlex();
      flex-direction: column;
      gap: 6px;
      background: var(--white-color);
      h6 {
        color: var(--black-color);
        font-size: 14px;
      }
    }
  }
}
// wizard form
#msform {
  text-align: center;
  position: relative;
  margin-top: 28px;
  .action-button-previous {
    height: 56px;
    border-radius: 12px;
    border: 1px solid var(--black-color);
    width: 120px;
    color: var(--black-color);
    cursor: pointer;
    margin: 32px 0px 10px 5px;
    float: right;
    background: none;
  }
  .action-button {
    height: 56px;
    border-radius: 12px;
    background: var(--main-color);
    width: 200px;
    color: white;
    border: 0 none;
    cursor: pointer;
    margin: 32px 0px 10px 5px;
    float: left;
  }
  fieldset {
    &:not(:first-of-type) {
      display: none;
    }
    border: 0 none;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    .purple-text {
      padding: 40px 0 30px;
      line-height: 36px;
      font-size: 20px;
      color: var(--black-color);
    }
    a {
      color: var(--main-color);
    }
    .advice {
      width: 100%;
      margin: 40px 0;
      border-radius: 4px;
      background-color: var(--id-confirm);
      position: relative;
      padding-top: 22px;
      padding-bottom: 32px;
      .icon {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: var(--id-confirm);
        border: 2px solid var(--white-color);
        @include centerFlex();
        img {
          max-height: 40px;
        }
      }
      ul {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        li {
          color: var(--black-color);
          @include centerFlex();
          gap: 14px;
          i {
            width: 40px;
            color: #7dc0f7;
            font-size: 24px;
          }
        }
      }
    }
    h6 {
      font-weight: 600;
      margin-top: 24px;
      font-size: 16px;
      color: var(--black-color);
    }
    p {
      color: var(--main-color);
    }
    .input-field {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 28px;
      gap: 10px;
      label {
        width: 100%;
        color: var(--black-color);
        text-align: justify;
        font-weight: 500;
        i {
          color: var(--main-color);
        }
        .info-label {
          color: var(--text-color);
          font-size: 18px;
        }
        small {
          color: var(--text-color);
          margin: 16px 0;
          display: block;
        }
      }
      .img-upload {
        padding: 22px;
        width: 100%;
        height: 230px;
        border: 1px solid var(--gray-background);
        @include centerFlex();
        border-radius: 12px;
        cursor: pointer;
        input {
          display: none;
        }
      }
      .selcet-wrap {
        position: relative;
        width: 100%;
        &::before {
          content: '\f107';
          font-family: 'Font Awesome 6 pro';
          position: absolute;
          left: 16px;
          top: 16px;
          color: var(--input-hint);
        }
        .form-select {
          font-size: 14px;
          color: var(--input-hint);
        }
      }
      input,
      textarea,
      .form-select {
        direction: rtl;
        height: 56px;
        border: none;
        outline: none;
        width: 100%;
        font-size: 14px;
        padding: 10px 16px;
        border-radius: 12px;
        color: var(--black-color);
        &::placeholder {
          color: var(--input-hint);
        }
        background: var(--input-bg);
        &:focus {
          box-shadow: none !important;
        }
      }
      textarea {
        height: 170px;
      }
      input[type="button"] {
        background: none;
        border: 1px dashed var(--main-color);
        color: var(--main-color);
      }
      .inputs {
        display: flex;
        width: 100%;
        gap: 16px;
        .country-picker {
          width: 80px;
          pointer-events: none;
        }
        label {
          width: 100%;
          height: 140px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          .gender {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: var(--black-color);
          }
          input {
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            appearance: none;
            height: 100%;
            background-color: var(--light-bg);
            border: 1px solid var(--LightGray);
            &:checked {
              background-color: var(--main30-color);
              border: 1px solid var(--main-color);
            }
          }
        }
      }
      .otp-container {
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
        direction: ltr !important;
        .otp-input {
          width: 70px;
          height: 70px;
          background: var(--main30-color);
          padding: 10px 28px;
          font-size: 24px;
          font-weight: bold;
          color: var(--main-color);
        }
      }
      .t-select {
        width: 100%;
        justify-content: space-between;
        .selcet-wrap:first-child {
          width: 68%;
        }
        .selcet-wrap:last-child {
          width: 28%;
        }
        .form-select {
          margin: 0;
        }
      }
    }
    .add-more-model {
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      background: var(--input-bg);
      .delete-model {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 12px;
        i {
          font-size: 24px;
          color: var(--main-color);
          cursor: pointer;
        }
      }
      input,
      .form-select {
        background: var(--white-color);
      }
    }
    .resend-code {
      width: 100%;
      display: flex;
      padding: 40px 0;
      gap: 60px;
      justify-content: center;
      a {
        color: var(--main-color);
      }
      .timer span {
        color: var(--text-color);
      }
    }
  }
}
